* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 30px auto;
    background-color: rgba(255, 192, 203, 0.176);
    width: 400px;
    padding: 1px;
}

#form>form>.input {
    text-align: center;
    margin: 10px auto;
}

body {
    background-image: url(./heartbg.png);
    background-size: 5%;
}

.bgblue {
    background-color: rgb(140, 140, 255);
}