* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 30px auto;
    background-color: aquamarine;
    width: 400px;
    padding: 1px;
}

.form>form>.input {
    text-align: center;
    margin: 10px auto;
}